<footer class="p-2 text-center bg-[#f2f2f2]">
    <div class="p-5">
        <a class="pt-5 text-4xl playfair hover:border-b-1 hover:border-[#7c7c7c] hover:opacity-50" href="/index.html">LOGO</a>
        <p class="p-8"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
    </div>
    <nav class="p-5">
        <a class="mr-2 hover:opacity-50" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="mr-2 hover:opacity-50" href="#"><i class="fa-brands fa-instagram"></i></a>
        <a class="mr-2 hover:opacity-50" href="#"><i class="fa-brands fa-youtube"></i></a>
    </nav>
</footer>