<header class="p-2 text-center bg-[#deded]">
    <div class="text-8xl">
        <h2 class="p-10 text-6xl">
            <a href="/index.html"> LOGO</a>
        </h2>
    </div>
    <nav class="border-y-2">
        <a class="px-4 py-2 mr-2" href="#"> HOME</a>
        <a class="px-4 py-2 mr-2" href="#"> ABOUT</a>
        <a class="px-4 py-2 mr-2" href="#"> BLOG</a>
        <a class="px-4 py-2 mr-2" href="#"> PHOTOGRAPHY</a>
        <a class="px-4 py-2 mr-2" href="#"> TRAVEL SHOP</a>
        <a class="px-4 py-2 mr-2" href="/search-doc.html"> SEARCH</a>
    </nav>

</header>