<header class="p-2 text-center">
    <div class="text-8xl">
        <h2 class="p-10 text-6xl">
            <a href="/index.html"> LOGO</a>
        </h2>
    </div>
    <nav>
        <a class="px-4 py-2 mr-2" href="#"> LINK 1</a>
        <a class="px-4 py-2 mr-2" href="#"> LINK 2</a>
        <a class="px-4 py-2 mr-2" href="#"> LINK 3</a>
        <a class="px-4 py-2 mr-2" href="#"> LINK 4</a>
        <a class="px-4 py-2 mr-2" href="#"> LINK 5</a>
        <a class="px-4 py-2 mr-2" href="#"> LINK 6</a>
    </nav>

</header>