<header class="p-2 text-center bg-[#f2f2f2]">
    <div class="text-8xl">
        <h2 class="p-10 text-6xl">
            <a class="playfair hover:opacity-50" href="/index.html"> LOGO</a>
        </h2>
    </div>
    <nav class="overflow-x-scroll border-y border-black md:align-middle md:flex md:items-center md:justify-center p-2 whitespace-nowrap">
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="#"> HOME</a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="#"> ABOUT</a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="#"> BLOG</a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="#"> PHOTOGRAPHY</a>
        <a class="px-4 pt-2 mr-2 hover:border-b-1 hover:opacity-50 hover:border-[#101016]" href="#"> TRAVEL SHOP</a>
        <a class="neg-p-20 md:px-4 pt-2 mr-2 md:absolute right-0 hover:opacity-50" href="/search-doc.html"><i class="fa-solid fa-magnifying-glass"></i></a>
    </nav>

</header>